<!doctype html>
<html>
<head>
	<title>Cashova</title>
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
</head>
  <body>
      <header>
          <h1>CASHOVA</h1>
          <p>Mēs esam Cashova, un mūsu misija ir palīdzēt cilvēkiem efektīvi pārvaldīt savu finanšu stāvokli un sasniegt finansiālo stabilitāti. Mūsu kalkulators ir ērts un viegli izmantojams. Jūs varat ātri ievadīt savus izdevumus un ienākumus, lai redzētu savu kopējo finanšu stāvokli.</p>
        <div>
         {{ data }}
        </div>
      </header>
      <nav>
          <ul>
              <li><a href="pievienosana">Pievienošana</a></li>
              <li><a href="parskats">Pārskats</a></li>
          </ul>
      </nav>
      <footer>
          <p>&copy; 2024 All rights reserved.</p>
      </footer>
  </body>
</style>
</html>